@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  right: 0;
  bottom: 0;
  top:0;
  width: auto;
}


.app{
  display: flex;
  background: cyan;
}

.pieVehicle{
  margin-right: -100px;
}
.header{
  background-color: #8ebf42;
        color: #ffffff;
        width: 300px;
        height: 100px;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -50%);
        padding: 20px;
        line-height: 30px;
}

